@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Inter, sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media only screen and (max-width: 640px) {
  .bg-image {
    background-image: url('/assets/svgs/ellipse3.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: local;
    background-position: 0% 0%;
  }
}

.question span,
a {
  color: #072910;
}
